<!-- Componente Hijo -->

<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <!-- Realizamos el enrutamiento por paramentros, empleando el atributo o metodo de Router [routerLink="['']"], dentro de las comillas simples, hay que escribir la vista de la aplicación, a la cual queremos redirigir. Y si queremos utilizar queryparams, debemos de decirle como atributo a la etiqueta <a> el metodo [queryParams]="" que este a su vez debe de tener una variable, y esa variable se le asigna un valor y esta actuara en función del contenido que tenga por dentro la etiqueta <a> -->
        {{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}}
        {{empleadoDeLista.salario}}
        <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'1'}">

          Actualizar

        </a>
        &nbsp;&nbsp;
        <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'2'}">

          Eliminar

        </a>
      </div>
      <!-- Insertamos aqui la etiqueta del componente que actua como hijo, dentro de este componente que actua como padre -->
      <app-caracteristicas-empleado-c
        (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
      <br>
      <ul style="list-style: none;">
        <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
      </ul>
    </div>
  </div>
</div>