<!-- Componente Hijo -->

<div class="container">
  <div class="row">
    <div class="col">
      <div>
        {{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}}
        {{empleadoDeLista.salario}}
      </div>
      <!-- Insertamos aqui la etiqueta del componente que actua como hijo, dentro de este componente que actua como padre -->
      <app-caracteristicas-empleado-c
        (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
      <br>
      <ul style="list-style: none;">
        <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
      </ul>
    </div>
  </div>
</div>